
  .borders {
    border: solid black 2px;
  }
  .stats {
    float: right;
  }
  .save_load {
    padding-left: 2px;
    padding-right: 2px;
  }
  .title {
      text-align: center;
  }
  .options_stats {
    padding-left: 2px;
    padding-right: 2px;
  }
  