<div class="row">
  <div class="col ">
    <div class="row worker">
      <button class="btn btn-light ml-2 my-2" (click)="addAWorker()">
        Add worker
      </button>
      <span class="ml-2 mr-2">Workers: {{ localWorkerCount }}</span>
      <span>Cost: {{ nextCost }}</span>
    </div>
    <div class="row worker">
      <button class="btn btn-light ml-2 my-2" (click)="addAWorker()">
        Add worker
      </button>
      <span class="ml-2 mr-2">Workers: {{ localWorkerCount }}</span>
      <span>Cost: {{ nextCost }}</span>
    </div>
  </div>
</div>
