<div class="row">
  <div class="col ">
    <div class="row worker">
      <button class="btn btn-light ml-2 my-2" (click)="addAWorker()">
        Add worker
      </button>
      <span class="ml-2 mr-2">Workers: {{ localWorkerCount }}</span>
      <span>Cost: {{ nextCostWorker }}</span>
    </div>
    <div class="row worker">
      <button class="btn btn-light ml-2 my-2" (click)="addAGrandma()">
        Add grandma
      </button>
      <span class="ml-2 mr-2">Grandmas: {{ localGrandmaCount }}</span>
      <span>Cost: {{ nextCostGrandma }}</span>
      <span></span>
    </div>
  </div>
</div>
